*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(231, 119, 54),#fff,green);
    padding: 10px;
}
.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    background: linear-gradient(rgb(231, 119, 54),#fff,green);

}
.container .heading{
    font-size: 34px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;

}
.container .heading ::before{
    content: '' ;
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgb(231, 119, 54),#fff,green);

} 
.container form .card-details{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
}
form .card-details .card-box{
    /*width: calc(100% /2 - 200px);*/
    margin-bottom: 15px;
}
.card-details .card-box .details{
    /*display: block;*/
    font-weight: 500;
    margin-bottom: 5px;

}
.card-details .card-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:2px ;
    transition: all 0.3s ease;
}
.card-details .card-box input:focus,
.card-details .card-box input:valid
{
    border-color: #9b599b;

}
form .circal-form .circal-title{
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid;


}
form .circal-form .category{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    margin: 3px;

}
form .button{
    text-align: center;
}
form .button input{
    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 50%;
    outline: none;
    color: rgb(26, 96, 224);
    border: none;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 2px;
    border-radius: 6px;
    letter-spacing: 1px;
    background: linear-gradient(rgb(231, 119, 54),#fff,green);
    
}
form .button input:hover{
    background: linear-gradient(rgb(231, 119, 54),rgb(117, 40, 40),rgb(0, 102, 128));
}

@media  (wi) {
    
}
h1{
    color: aqua;
    margin-top: -20px;
}